*
{
    margin : 0 ; 
    padding :0 ; 
}

body
{
    overflow-x : hidden ; 
}

.image-float
{
    float : left; 
    padding : 6px 25px ; 
    margin : 15px;  
    width : 550px; 
    text-align : center ; 
    border  :2px solid #838282 ; 
    transition : width  2s ease-in ;
}
img[alt*="recipes"]
{

    height : 500px ; 
    width  : 100%;  
}

.image-float a
{
    text-decoration: none;
    color  :black ; 
}

.recipe-description h3
{
    text-decoration :none; 
    display : block ; 
    color : #3e3e3e!important ; 

}
.recipe-description p
{
    text-decoration :none; 
    display : block ; 
    color : #7a7878 ;   
}

.imp-links
{
     clear : both ;   
}

.image-float:hover
{
    border : 2px solid black ;  
    width : 553px; 
    box-shadow : 1px 2px 7px 2px rgb(233, 132, 132);   
}.image-float:hover .recipe-description h3
{
    color : black!important ; 
}

.image-float:hover .recipe-description p 
{
    color : #3e3e3e ; 
}

@media screen and (max-width : 1010px)
{
    div.image-float
    {
        width : 32% ; 
        padding : 0 ; 
        margin  : 0 ;  
    }
    div.image-float  img 
    {
           width : 100% ; 
           height : 200px ; 
    }

    div.image-float:hover
    {
        width : 34% ;
    }
}

@media only screen and (max-width : 500px)
{
    div.image-float
    {
         
        width :97% ; 
        height : auto; 
        padding : 0 ; 
        margin  : 0 ; 
    }
    div.image-float:hover
    {
        width : 100% ; 
    }
}



#pagination
{
    display : block; 
    position:relative;
    left:46%;
    margin-left : auto ; 
    margin-right : auto; 
}
#pagination a
{
    float : left ; 
    color : black ; 
    border : 1px solid #b9b7b7;
    text-align : justify ; 
    font-family: "Roboto", sans-serif;
    font-size  : 20px ;  
    margin : 3px ; 
    padding-right:12px;
    margin-bottom : 5% ; 
    text-align : center ; 
    text-decoration : none ;
    box-sizing: border-box;
}


#pagination a:hover
{
    color : red ; 
}
#pagination a:focus 
{
    background-color:rgba(232, 120, 120, 0.5);
}


div.content-articles
{
    clear : both ; 
    display : flex ; 
    flex-direction:row ; 
    flex-wrap : wrap ; 
    justify-content : center ; 
    align-content  :center ; 
    color : black ; 
    animation : text-animate 4s ease-in 6s 1 ;
    animation-direction : alternate ;  
}

@keyframes text-animate
{
    0%{opacity : 0 ;  }
    75%{opacity : 0.7 ; }
    100%{opacity : 1.0  ;}

}

.content-articles
{
    background-color : #f2f0f0 ;
    height: auto ; 
    margin-top :auto ;
    margin-bottom : auto ; 
}

.content-articles article
{
    width : 30% ;
    padding: 38px;  
    margin: 4px ;
    margin-top : 200px ; 
    margin-bottom: 45px;
    border  : 2px solid rgb(146, 145, 145) ;
    border-radius : 12px ;
    text-align : center ; 
}

.content-articles articles img[src*="images"]
{
    width : 400px ; 
    height : 400px ; 
}

.content-articles article h3
{
    color : rgb(45, 44, 44) ; 
}

.content-articles article p
{
    color : rgb(85, 84, 84) ;   
}

.imp:hover
{
    color :  rgb(202, 96, 96)!important ;  
    text-decoration: underline!important;

}

.art-for-article
{
    animation : name-move 5s linear 4s 3;
    text-align:center ; color : black ; font-family: Roboto; ; margin-top : 23px; font-size: 3rem; display:block ; clear: both ;
}


@keyframes name-move
{
    from{font-size: 2.5rem ; 
        margin-top : 2rem ; }
    to{font-size: 3rem ;
    margin-top :2rem}
}

footer 
{
    margin-top: 7% ; 
    background-color : black ; 
    height : 34% ;
}
#footer-sec
{
    display : flex ; 
    flex-direction : row ; 
    justify-content : flex-start; 
    align-items : center ; 
}


div[id*="footer-sec"]
{
    color : rgb(219, 218, 218) ; 
    font-family: "Roboto", sans-serif ; 
    box-sizing : border-box ; 
    padding-right : 13%;
    box-sizing: border-box;  
}

div[id*="copyright"]
{
    color : rgb(207, 206, 206); 
    font-family: "Roboto", sans-serif;
    box-sizing : border-box ; 
    padding : 10px;
}

#button
{
    color : white ; 
    background-color: rgb(233, 118, 118);  
    border : 1px solid rgb(240, 81, 81) ;
}

#footer-section-1
{
    margin-left  :0 ; 
}



@media screen and (max-width: 900px)
{

    #know-from-us 
    {
        flex-direction : column ; 
        overflow : hidden ; 

    }

    #know-from-us img
    {
        width:100% ; 
        height : auto ; 


    }

    .art-for-article
    {
        clear : both ; 
        display :  block ; 

    }

    #footer-sec
    {
        display : block ; 
        background-color: black ;   
    }
    body 
    {
        overflow-x: hidden;
        box-sizing: border-box;
    }
    #pagination
    {
        left : 0 ; 
    }

}